
.drawer-button {
    background: inherit;
    cursor: pointer;
    border: none;
    margin-top: 5px;
    margin-right: 10px;
}

.drawer {
    background: #fff;
    width: 20%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 90px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    transition: transform 500ms ease;
    z-index: 1000;
}

.drawer-info-header {
    display: flex;
    align-items: center;
}
.drawer-info-header div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.drawer-info-divider {
    width: 100%;
}

.drawer.left {
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

/*.drawer-container.open .left {*/
/*    transform: translateX(0);*/
/*}*/

.backdrop {
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease,
    visibility 0.3s ease;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
    z-index: 10;
}

.drawer-close{
    transform: translateX(-110%);
}

.drawer-open{
    transform: translateX(0%);
}


/*.drawer-container.open .drawer {*/
/*    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.drawer-container.open .backdrop {*/
/*    visibility: visible;*/
/*    opacity: 1;*/
/*    pointer-events: auto;*/
/*    z-index: 999;*/
/*}*/

@media screen and (max-width: 1200px){
    .drawer {
        background: #fff;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: fixed;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        transition: transform 500ms ease;
        z-index: 100;
    }
}