.banner {
    padding: 40px 0 120px 0;
    overflow: hidden;
}


.banner-container {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    margin: auto;
    position: relative;
}

.banner-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}

.banner .banner-row .banner-desc {
    flex: 0.8;
}

.banner .banner-row .banner-image {
    flex: 0.2;
}

.banner .banner-row .banner-title {
    font-size: 38px;
    font-weight: 800;
    opacity: 1;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.banner .banner-row .banner-text {
    font-size: 20px;
    color: #929098;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    line-height: 1.4;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.banner-desc,
.banner-image {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    align-self:center;
}
.banner-image{
    position: absolute;
    right: 5%;
    top:50%;
    transform: translateY(-50%);
}

.banner-image img {
    width: 75%;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top:0;
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .banner-container {
        max-width: 1144px;
    }
    .banner-image img {
        width:50%;
    }
    .banner {
        padding: 100px 0 200px 0;
        overflow: hidden;
    }

}

@media (min-width: 996px) {

    .banner-desc,
    .banner-image {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        position: relative;
        align-self:center;
        right: 0;
        transform: translateY(0);
    }

    .banner-image img {
        opacity: 0.6;
        object-fit: contain;
        width: 20em;
        position: relative;
        transform: translateY(0);
    }
}

@media (min-width: 1200px) {
    .banner-container {
        max-width: 1144px;
    }

    .banner {
        padding: 100px 0 200px 0;
        overflow: hidden;
    }

}


