.libraries-info {
    padding: 90px 0 127px 0;
    background-color: white;
    box-shadow: 0 0px 10px 0px #00a6fb
}

.libraries-info h2 {
    text-align: center;
    font-size: 38px;
    color: #353340;
    margin-top: 10px;
    margin-bottom: 0;
}

.libraries-info p {
    font-size: 18px;
    text-align: center;
    color: #99989d;
    margin-bottom: 6.2rem;
}

.libraries-info .library-card {
    height: 300px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    z-index: 3;
    margin-top: 45px;
    box-shadow: 0 0 5px 5px rgba(61, 61, 61, 0.06);
}

.libraries-info .library-card h3 {
    font-size: 22px;
    margin-top: 30px;
}

.libraries-info .library-card p {
    font-size: 16px;
    text-align: left;
    margin-bottom: 0;
}

.libraries-info .library-card .icon {
    height: 85px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a6fb;
    border-radius: 50%;
    margin-top: -70px;
}

.libraries-info .library-card .icon .library-alias {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-bottom: 0;
    margin-top:0.3em;
}

.libraries-info .library-info-row {
    position: relative;
}


.col-md-4
 {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

}

.library-info-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.libraries-info-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 33.333333%;
        width: 33.333333%;
    }

}

@media (min-width: 1200px) {
    .libraries-info-container {
        max-width: 1144px;
    }
}

@media (max-width: 768px) {
    .libraries-info {
        padding-top: 1rem;
    }
    .libraries-info h2 {
        font-size: 30px;
        margin-top: 0;
    }
    .libraries-info .library-info-row {
        text-align: center;
    }
    .libraries-info .library-info-row .library-card {
        margin-top: 5rem !important;
    }
    .libraries-info .library-info-row .library-card .icon {
        margin-left: auto;
        margin-right: auto;
    }
    .libraries-info .library-info-row::before {
        height: 75%;
        width: 7px;
    }

}
