.leftDiv {
    position: fixed;
    top: 4em;
    left: 0.5em;
    max-height: 27em;
    width: 18em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 17px 0 gray;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em
}

.form {
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
    gap: 1em;
    max-height: 25em;
    overflow-y: auto;
}

.image {
    padding: 0.2em;
    margin-bottom: 1em;
    border-radius: 10px;
}

.topDiv {
    margin-left: auto;
    margin-right: auto;
    max-height: 2.7em;
    position: fixed;
    top: 0.2em;
    width: fit-content;
    left: 30%;
    right: 30%;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 0.3em;
    padding: 0.4em;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 1%), 1px 1px 5px rgb(0 0 0 / 15%);
}

.topDiv-element--checked {
    height: 40px;
    width: 40px;
    background-color: #6965db;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.topDiv-element {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.topDiv-element-svgWhite {
    position: relative;
    height: 1em;
    fill: white;
    color: white;
}
.topDiv-element-svgBlack {
    position: relative;
    height: 1em;
    fill: black;
    color: black;
}
.topDiv-elementRadio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 99;
    width: 40px;
    height: 40px;
}
