.library {
    display: flex;
    padding: 5px;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.library:hover {
    background-color: #f8f6f6;
}
.library__info > h2 {
    font-size: 1.2em;
}
.library__info {
    margin-left: 10px;
}
.library__info > img {
    color: black;
}
