* {
    box-sizing: border-box;
}

.react-draggable,
.cursor {
    cursor: move;
}

span {
    transform: scale(0.3);
    object-fit: contain;
    width: fit-content;
    block-size: fit-content;
    height: fit-content;
}
.react-draggable {
    width: fit-content;
    transform: scale(0.3);
}
span  svg {
    transform: scale(0.3);
    block-size: fit-content;
}
